*{
//outline: 1px solid lime;
}
:root{
    --bg: rgb(0,0,0);
    --fg: rgb(225,38,29);
    --colgap: 2.4rem;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--bg);
    color: var( --fg);
    font-size: 14px;
    width: 100%;
    height: 100%;
}
    body{
        box-sizing: border-box;
        padding: 1rem;
    }
   
    a{
        color: var(--fg);
        text-decoration: none;
    }
        
    h1, h2{
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 1;
        margin: 0;
    }

        h3{
            font-size: 1rem;
        }
        header{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-bottom: 10rem;
            box-sizing: border-box;
        }
        @media (min-width: 720px) {
            header{
                margin-bottom: 5rem;
            }
        }
.efx-link-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    column-gap: 2.5rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
}

    @media (min-width: 720px) {
        .efx-link-list{
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5rem;
        }
    }
    @media (min-width: 1100px){
        .efx-link-list{
            column-gap: 7rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .efx-link-list__wider{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .efx-link-list li{
        box-sizing: border-box;
        min-width: 0;
        min-height: 0;
    }
        .efx-link-item{
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 100%;  
            width: 100%;

        }

        .efx-link-item img{
            display: block;
            height: auto;
            margin-bottom: 1.1rem;
            max-width: 80%;
        }

        .efx-link-item h3{
            font-weight: normal;            
            padding-top: .7rem; 
            position: relative; 
            height: 1rem;
            padding-bottom: 3rem;          
        }
            .efx-link-item h3:before{
                content: '';
                display: block;
                width: 100%;
                border-top: 1px solid var( --fg);
                position: absolute;
                top: .3rem;
                transition: top .12s ease-out;

            }


        .efx-link-list a:hover  .efx-link-item h3:before{
            top: .05rem;
        }
       
    .efx-download-page{
        
    }
    .efx-download-img{
        width: 100%;
    }
    
    .efx-download{
        margin-bottom: 3rem;
    }
    .efx-download h3{
        font-size: 1.8rem;
        font-weight: normal;
        margin-bottom: .3rem;
    }
    .efx-download img{
        display: none;
        width: 100%;
        height: 300px;
    }

    @media (min-width: 720px){
        .efx-download-page{
            width: 66.66%;
        }
    }
    @media (min-width: 1100px){
        .efx-download-page{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .efx-download-img{
            height: calc( 100vh - 13rem);
            width: auto;
        }
    }


html.press body {
    max-width: 71rem;
    margin: 0 auto;
    overflow-x: hidden;
}
html.press a{
    text-decoration: underline;
}

    @media (min-width: 720px) {
        html.press body {
            padding: 2.5rem;
        }
    }
    @media (min-width: 1920px){
        html.press{
            font-size: 0.7vw;
        }
    }

.efx-press-wrap{
    overflow: hidden;
    width: 100%;
}

.efx-press-header{       
    margin-bottom: 1.4rem; 
    position: relative;
    z-index: 1;  
}
html.press .efx-press-header a{
    text-decoration: none;
}
    .efx-press-image{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: calc( var(--colgap) / 4 );
    }
   
    .efx-press-image img{
        width: 100%;
        margin-bottom: calc( var(--colgap) / 2 );
    }
    
    @media (min-width: 720px){
        .efx-press-header{
            margin-bottom: 2rem; 
        }
        .efx-press-image img{
            width: calc(50% - calc( var(--colgap) / 2 ));
            margin-bottom: var(--colgap);
        }
    }
    @media (min-width: 1920px){
      
    }

.efx-press{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    line-height: 1.23;
    font-size: 1.25rem;
}

.efx-press-meta{
    font-size: 1rem;
}

.efx-press-contriblist{
    max-width: 27em;
}

@media (max-width: 720px){
    .efx-press-meta .efx-press-contents{
        font-size: 1.25rem;
        margin-top: 4rem;
    }
}
    .efx-press section{            
        margin-bottom: 2rem;        
    }
    .efx-press section img{
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 2rem;
    }
    .efx-press section p,
    .efx-press section ul,
    .efx-press section h3,
    .efx-press section h4{
        margin-top: 0;
    }
    .efx-press section h3{
        font-size: 1em;
    }
    .efx-press section h4{
        font-weight: normal;
        font-style: italic;
        margin-bottom: 0;
    }
    .efx-press section ul{
        list-style: none;
        padding: 0;
    }

    .efx-press-contriblist li{
        display: inline;        
        break-inside: auto;
    }
    .efx-press-contriblist li:after{
        content: ', ';
    }
    .efx-press-contriblist li:last-child:after{
        content: '';
    }

    @media (min-width: 720px){
        .efx-press section{
            margin-bottom: 2.46rem;
        }
        .efx-press section img{
            margin-bottom: 0;
        }
        .efx-press section{
            width: calc(50% - var(--colgap));
        }       
        .efx-press .efx-press-images{
            width: 100%;
        }        

        .efx-press .efx-press-stretch{   
            width: 100%;         
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        .efx-press .efx-press-stretch>div{
            width: calc(50% - var(--colgap));
        }
        .efx-press .efx-press-stretch img{
            width: calc( 50% - var(--colgap));
            height: auto;
            display: block;
        }
    }   

    @media (min-width: 1100px){
        .efx-press section{
            width: calc(50% - var(--colgap));
        }    
        .efx-press .efx-press-col{
            column-gap: calc(var(--colgap) * 2);
        }
        .efx-press .efx-press-col p,
        .efx-press .efx-press-col .col-grp{
            break-inside: avoid;
        }
    
        .efx-press .efx-press-col_3{
            width: 100%;
            columns: 3;
        }
        .efx-press .efx-press-col_2{
            width: calc(66.66% - var(--colgap));
            columns: 2;
        }
        .efx-press .efx-press-col_2 h3{
            column-span: all;
        }
        .efx-press .efx-press-images{
            width: 100%;
        }
        .efx-press .efx-press-stretch{
            width: calc(33.33% - var(--colgap));
            flex-direction: column;
        }
        .efx-press .efx-press-stretch > div{
            width: 100%;
        }
        .efx-press .efx-press-stretch img{
            width: 100%;            
        }
    }

    @media (min-width: 1920px){
        .efx-press section{
            margin-bottom: 12rem;
        }
    }